<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/css/output.css" rel="stylesheet">
</head>

<body>
  <%- include("../components/header.ejs") %>

  <div class="flex items-center justify-between w-4/5 pt-12 mx-auto">
    <button  type="button"
      class="text-white main-gradient main-gradient-hover font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none <%= loggedIn ? 'showIncidentModal' : 'showLoginModal' %>">Signaler
      un incident</button>

    <input type="search" name="Search" placeholder="Recherche"
      class="block w-1/5 py-2 pl-3 leading-normal text-gray-900 border-0 rounded-md h-fit ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-red-700">

  </div>

  <div class="flex justify-center pt-4 overflow-x-auto">
    <table class="w-4/5 divide-y divide-gray-200 ">
      <thead>
        <tr>
          <th scope="col" class="px-6 py-3 text-xs font-medium text-left text-gray-500 uppercase">Titre</th>
          <th scope="col" class="px-6 py-3 text-xs font-medium text-left text-gray-500 uppercase">Lieu</th>
          <th scope="col" class="px-6 py-3 text-xs font-medium text-left text-gray-500 uppercase">Nom Prénom</th>
          <th scope="col" class="px-6 py-3 text-xs font-medium text-left text-gray-500 uppercase">Date</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 ">
        <% for(var i=0; i < incidents.length; i++) { %>
          <tr class="hover:bg-gray-100 ">
            <td class="px-6 py-4 text-sm font-medium text-gray-800 whitespace-nowrap "><%= incidents[i].title %></td>
            <td class="px-6 py-4 text-sm text-gray-800 whitespace-nowrap "><%= incidents[i].address %></td>
            <td class="px-6 py-4 text-sm font-medium text-gray-800 whitespace-nowrap "><%= incidents[i].user.fullname %></td>
            <td class="px-6 py-4 text-sm font-medium text-gray-800 whitespace-nowrap "><%= incidents[i].date %></td>
            <td class="px-6 py-4 text-sm font-medium text-right whitespace-nowrap">
              <a class="text-blue-500 hover:text-blue-700" href="#">Plus d'informations</a>
            </td>
          </tr>
        <% } %>
        </tbody>
    </table>
  </div>

  <div id="date" class="absolute -translate-x-1/2 bottom-10 left-1/2"></div>

  <!-- MODALS-->
  <%- include("../components/loginModal.ejs") %>
  <%- include("../components/registerModal.ejs") %>
  <%- include("../components/incidentModal.ejs") %>
  
  <script src="/public/js/index.js"></script>
</body>

</html>
